{% extends 'base.html' %}
{% block app_content %}
<hr>

<h3>Mages</h3>

{% for mage in mage_info %}
<div class="thumbnail col-sm-5 col-md-4">
    <div class="caption">
        <h4>{{mage.name}}</h4>
        <p><a href="{{url_for('mage', mage_id=mage.mage_id)}}" class="btn btn-primary stretched-link">Show Profile</a></p>
        {% if mage.in_test == False %}
        <p><a href="{{url_for('testres', mage_id=mage.mage_id)}}" class="btn btn-primary stretched-link">Start Test</a></p>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}